services:
  selenium:
    image: selenium/standalone-firefox:latest
    container_name: selenium
    ports:
      - "4444:4444"

  python:
    build:
      context: .
      dockerfile: Dockerfile.bot
    container_name: course-bot
    env_file:
      - .env
    depends_on:
      - selenium