name: Daily Course Bot

on:
  schedule:
    - cron: "1 0 * * *"
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    env:
      DB_URL: ${{ secrets.DB_URL }}
      TABLE_NAME: ${{ secrets.TABLE_NAME }}
      ETV_LOGIN_NAME: ${{ secrets.ETV_LOGIN_NAME }}
      LOGIN_URL: ${{ secrets.LOGIN_URL }}
      ETV_LOGIN_PW: ${{ secrets.ETV_LOGIN_PW }}
      COURSE_OVERVIEW_URL: ${{ secrets.COURSE_OVERVIEW_URL }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Enable Docker BuildKit
        run: |
          export DOCKER_BUILDKIT=1

      - name: Create GitHub token file
        run: |
          echo "${{ secrets.GH_PAT }}" > .github_token

      - name: Build images via Docker Compose
        run: |
          docker-compose -f docker-compose.yml build

      - name: Run bot via Docker Compose
        run: |
          docker-compose -f docker-compose.yml up -d selenium  # Start selenium first
          sleep 10  # Optional: wait for Selenium to fully start
          docker-compose -f docker-compose.yml run --rm course-bot
          docker-compose -f docker-compose.yml down
